{% extends "layout/_layout.njk" %}
{% block content %}
    {# Put page content here. Exmaples below #}

    <h1>Hello {{name}}, good luck!</h1>

    <div>
        This was an exmaple of using a HTML Form with a express post request
</div>

{% endblock %}