{% extends "layout/_layout.njk" %}
{% block content %}
    {# Put page content here. Exmaples below #}
    <div class="card">
        <div class="card-header">
            <h2>Advice</h1>
        </div>
        <div class="card-body">
            All of this UI code is to demonstrate nunjucks and express js. Feel free to delete this as its not needed for the final solution. 
        </div>
    </div>
</br>
<div class="card">
    <div class="card-header">
        <label for="name"><h2>Example Form</h1></label>
    </div>
    <div class="card-body">
        <form action="/" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name">
                    <small id="nameHelp" class="form-text text-muted">Enter your name and continue</small>
                </div>
                <button class="btn btn-success" type="submit">Continue</button>
            </form>
        </div>
    </div>
</br>
</div>{% endblock %}